/final_models/
/output/
/saved_models/
/image.png
/image1.png
/tensorboard_attemp.py
/__pycache__
/test_data/
/entrenamiento_knn_20_epochs
/entrenamiento_knn2_20_epochs
/entrenar_fijo_20_epochs
/runs4
/LICENSE
/README.md
/model_inference.py
/entrenamiento_fx_1.1_20_epochs
/otsucount.py
/entrenamiento_fx_1.05_20_epochs
/knn/
/imagenes/
/train_kn20_si/
/model_inference.py